@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Josefin+Sans:600');


:root {
	--main-color: #643A7A;
	--secondary-color: #741CAF;
	--sans: "josefin sans", sans serif;
}

body {
	background: #201C29;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -350px;
  margin-top: -250px;
  width: 50vw;
  height: 70vh;
  background: var(--main-color);
  border-radius: 5px;
  font-family: "dancing script", cursive;
  overflow: hidden;
  color: rgb( 121, 125, 127 );
  letter-spacing: .5px;
  display: grid;
  place-items: center;
}

.inner {
    position: absolute;
    height: 100%;
    width: 80%;
    opacity: 1;
    -webkit-transition: 1s;
    transition: 1s;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 70%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, .5);
    font-size: 1.3rem;
}

.number::before {
    content: "";
    position: absolute;
    top: -130px;
    right: -30px;
    width: 90px;
    height: 200px;
    background: var(--secondary-color);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: -1;
    box-shadow: 0 0 .7rem rgba(0, 0, 0, .5);
}

.number {
    font-family: var(--sans);
    position: absolute;
    margin: 0;
    top: 15px;
    right: 15px;
    color: fade-out(#fff, .3);
}

.number img {
    width: 38px;
    height: 38px;
    position: absolute;
    left: -25px;
    top: -7px;
    cursor: pointer;
    animation: rot 1s linear;
    color: fade-out(#fff, .3);
}

.number:hover img{
    animation: rot 1s linear;
}

@keyframes rot {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.quote {
    position: absolute;
	top: 35%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	width: 80%;
    font-size: 1.5rem;
}

.fas {
	font-size: 2.3rem;
	position: absolute;
	top: 12%;
	left: 7%;
	color: rgba(100, 58, 122, .2);
}

.button p {
    background: #802BBC;
    text-align: center;
    color: #fff;
      padding: 1rem 0;
      width: 100%;
      font-family: var(--sans);
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
      transition: .2s ease-out;
  }
  
  .button p:hover {
    background: var(--secondary-color);
    cursor: pointer; 
  }

  .author{
    padding-top: 220px;
    padding-left: 310px;
    font-size: 1.5rem;
  }